#
# Focaltech Touchscreen driver configuration
#
if TOUCHSCREEN_IRVINE_FT8756
config TOUCHSCREEN_FT8756
    bool "Focaltech Touchscreen"
    default y
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
      
config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_touch"
    depends on TOUCHSCREEN_FT8756
endif
